@import './colors.less';
@color-default-primary: @color-blue600;

@material-text-color: @color-grey900;
@material-background-color: white;
@material-font: 16px Roboto, Ubuntu, "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
@material-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

html, body, input, textarea, keygen, select, option, button {
  background-color: @material-background-color;
  color: @material-text-color;
  font: @material-font;
}

label {
  position: relative;
}

@import './icon.less';
@import './textbox-and-select.less';
@import './checkbox.less';
@import './radio.less';
@import './button.less';
@import './range.less';
@import './tooltip.less';
@import './spinner.less';