@color-default-primary: @color-blue600;

@material-text-color: @color-grey400;
@material-background-color: @color-grey900;

@button-text-color: @color-grey300;
@button-background-color: @color-default-primary;
@button-text-color-disabled: @color-grey800;
@button-background-color-disabled: @color-grey600;

@checkbox-outline-color: @color-grey300;
@checkbox-outline-color-checked: @color-default-primary;
@checkbox-fill-color-checked: @checkbox-outline-color-checked;
@checkbox-check-color: @color-grey50;
@checkbox-error-color: @color-redA400;
@checkbox-outline-color-disabled: @color-grey600;
@checkbox-fill-color-disabled: @checkbox-outline-color-disabled;

@radio-outline-color: @color-grey300;
@radio-outline-color-checked: @color-default-primary;
@radio-radio-color-checked: @radio-outline-color-checked;
@radio-error-color: @color-redA400;
@radio-outline-color-disabled: @color-grey600;
@radio-check-color-disabled: @radio-outline-color-disabled;

@range-thumb-color: @color-grey300;
@range-slider-color: @color-grey600;
@range-slider-color-active: @color-default-primary;

@input-placholder-color: @color-grey600;
@input-bottom-line-color: @color-grey600;
@input-bottom-line-color-active: @color-default-primary;
@input-error-color: @color-redA400;
@input-disabled-color: @color-grey600;